{% extends model('component') %}

{% define config = {
    name: 'product-shop-price',
} %}

{% define data = {
    regularPriceAmount: required,
    benefitPriceAmount: required,
    benefitCurrencyAmount: required,
    benefitCurrencyType: '',
} %}

{% block body %}
    <hr>
    <div class="spacing-top spacing-bottom">
            <span class="{{ config.name }}__title-text {{ config.name }}__title-text--{{ data.benefitCurrencyType }}"></span>
        <h3>{{ 'Shopping Point Deal' | trans }}</h3>

    </div>
    <div class="col">
        <div class="{{ config.name }}__benefit-price-amount--{{ data.benefitCurrencyType }}">
            {% include molecule('money-price') with {
                modifiers: ['pdp'],
                data: {
                    regularPriceAmount: data.regularPriceAmount,
                    regular: data.regularPriceAmount,
                    amount: data.benefitPriceAmount,
                    discount: data.benefitCurrencyAmount,
                    priceVatText: null,
                    promotionKind: 'shopping-point',
                    promotion: 'true',
                    regular: 'false',
                }
            } only %}

        </div>
    </div>
{% endblock %}
