{% extends model('component') %}

{% define config = {
    name: 'header',
    tag: 'header'
} %}

{% define data = {
    showSearchForm: true,
    showNavigation: true
} %}

{% block body %}
    {% widget 'AgentControlBarWidget' only %}{% endwidget %}

    <div class="is-hidden-lg-xl">
        {% if data.showSearchForm %}
            <div class="{{ config.name }}__search-overlay js-suggest-search__overlay-mobile">
                <div class="{{ config.name }}__search-overlay-container">
                    <div class="{{ config.name }}__search-close js-suggest-search__hide-mobile">
                        {% include atom('icon') with {
                            class: config.name ~ '__search-close-icon',
                            data: {
                                name: 'close'
                            }
                        } only %}
                    </div>

                    {% include molecule('search-form') with {
                        attributes: {
                            'data-search-id': 'mobile'
                        }
                    } only %}
                </div>
                <div class="{{ config.name }}__overlay-shadow js-suggest-search__hide-mobile"></div>
            </div>
        {% endif %}

        <div class="{{ config.name }}__row {{ config.name }}__navigation-top is-hidden-lg-xl">
            {% if data.showNavigation %}
                {% include molecule('navigation-top-mobile') only %}
            {% endif %}
        </div>
    </div>

    <div class="{{ config.name }}__row {{ config.name }}__navigation-main is-hidden-sm-md grid grid--justify grid--middle">
        <div class="col">
            {% include molecule('logo') with {
                modifiers: modifiers,
            } only %}
        </div>

        <div class="col col--expand grid grid--center spacing-x spacing-x--inner spacing-x--biggest">
            {% if data.showNavigation %}
                <div class="{{ config.name }}__categories spacing-right spacing-right--biggest">
                    <button class="{{ config.name }}__categories-label {{ config.jsName }}__categories-label button button--skinless"
                       data-toggle-target-class-name="{{ config.jsName }}__categories-list">
                        {{ 'global.header.categories' | trans }}

                        {% include atom('icon') with {
                            class: config.name ~ '__categories-icon',
                            modifiers: ['small'],
                            data: {
                                name: 'arrow-down'
                            }
                        } only %}
                    </button>

                    <div class="{{ config.jsName }}__categories-list is-hidden">
                        {% block mainNavigation %}
                            {% widget 'NavigationWidget' args ['MAIN_NAVIGATION_DESKTOP', 'navigation-header'] %}{% endwidget %}
                        {% endblock %}
                    </div>

                    {% include molecule('toggler-accordion') with {
                        attributes: {
                            'trigger-class-name':  config.jsName ~ '__categories-label',
                            'active-class': config.name ~ '__categories-label--active',
                            'is-closed-outside': true,
                        },
                    } only %}
                </div>
            {% endif %}

            {% if data.showSearchForm %}
                {% include molecule('search-form-desktop') with {
                    attributes: {
                        'data-search-id': 'desktop',
                    },
                } only %}
                <div class="{{ config.name }}__search-overlay js-suggest-search__overlay-desktop">
                    <div class="{{ config.name }}__overlay-shadow js-suggest-search__hide-desktop"></div>
                </div>
            {% endif %}
        </div>

        <div class="col {{ config.name }}__navigation-top">
            {% if data.showNavigation %}
                {% include organism('navigation-top') only %}
            {% endif %}
        </div>
    </div>
{% endblock %}
