{% extends model('component') %}

{% define config = {
    name: 'header',
    tag: 'header'
} %}

{% define data = {
    showSearchForm: true,
    showNavigation: true
} %}

{% block body %}
    {% set benefits = [
        'global.benefit.free_returns',
        'global.benefit.warranty',
        'global.benefit.competitive_prices'
    ] %}

    {% widget 'AgentControlBarWidget' only %}{% endwidget %}

    <div>
        <div class="{{ config.name }}__search-overlay js-suggest-search__overlay">
            <div class="{{ config.name }}__search-overlay-container">
                <div class="{{ config.name }}__search-close js-suggest-search__hide">
                    {% include atom('icon') with {
                        class: config.name ~ '__search-close-icon',
                        data: {
                            name: 'close'
                        }
                    } only %}
                </div>

                {% if data.showSearchForm %}
                    {% include molecule('search-form') with {
                        attributes: {
                            'data-search-id': 'desktop'
                        }
                    } only %}
                {% endif %}
            </div>
            <div class="{{ config.name }}__overlay-shadow js-suggest-search__hide"></div>
        </div>

        {% block additionalLink %}{% endblock %}

        <div class="{{ config.name }}__row {{ config.name }}__navigation-top is-hidden-xl-only">
            {% if data.showNavigation %}
                {% include molecule('navigation-top-mobile') only %}
            {% endif %}
        </div>
    </div>

    <div class="{{ config.name }}__row {{ config.name }}__navigation-main is-hidden-sm-lg grid grid--justify grid--middle">
        <div class="col">
            {% include molecule('logo') with {
                modifiers: modifiers,
            } only %}
        </div>

        <div class="grid col--expand grid--center spacing-x spacing-x--biggest">
            <div class="{{ config.name }}__categories grid grid--middle spacing-right spacing-right--biggest">
                <p class="col {{ config.name }}__categories__label">{{ 'global.header.categories' | trans }}</p>
                <div class="col">
                    {% include atom('icon') with {
                        class: 'spacing-left',
                        modifiers: ['small'],
                        data: {
                            name: 'arrow-down'
                        }
                    } only %}
                </div>
            </div>

            {% if data.showSearchForm %}
                {% include molecule('search-form-desktop') with {
                    attributes: {
                        'data-search-id': 'header-desktop',
                    },
                } only %}
            {% endif %}
        </div>

        <div class="col {{ config.name }}__navigation-top">
            {% if data.showNavigation %}
                {% include organism('navigation-top') only %}
            {% endif %}
        </div>
    </div>
{% endblock %}
