<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover gui-table-data" id="productAttributesTable"
           data-paging="false">
        <form id="attribute_values_form" method="post" class="kv_autocomplete_form" action="{{ formActionUrl }}">
            <input type="hidden" name="attribute_values_form[hidden_product_abstract_id]"
                   id="attribute_values_form_hidden_product_abstract_id" value="{{ idProductAbstract }}"/>
            <input type="hidden" name="attribute_values_form[hidden_product_id]"
                   id="attribute_values_form_hidden_product_id" value="{{ idProductConcrete }}"/>
            {{ form_widget(csrfForm) }}
            <thead>
            <tr>
                <th>Key</th>
                {% for localeCode,localeData in locales %}
                    {% if localeCode == '_' %}
                        <th>{{ 'Default' }}</th>
                    {% else %}
                        <th>{{ localeData.locale_name }}</th>
                    {% endif %}
                {% endfor %}
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% if productAttributeKeys is defined %}
                    {% for key in productAttributeKeys %}
                        {% include '@ProductAttributeGui/View/_partials/attribute-item.twig' with {
                            key: key,
                            locales: locales,
                            productAttributes: productAttributes,
                            metaAttributes: metaAttributes,
                            isHidden: 0
                        } %}
                    {% endfor %}
                {% endif %}
            </tbody>
        </form>
    </table>
</div>
