{% extends molecule('money-price', '@SprykerShop:ShopUi') %}

{% block defaultPriceInner %}
    {% set defaultPriceJsName = data.parentJsName ? data.parentJsName ~ '__default-price' %}

    {{ dump(data) }}

    {% if data.isAffiliate is defined and data.isAffiliate %}
        <span>{{ 'pdp.price.from' | trans }}</span>
    {% endif %}

    <span class="{{ config.name }}__amount {{ defaultPriceJsName }}">
        {# @todo add this {{ 'pdp.price.from' | trans }} &nbsp; if there is more than one affiliate#}
        {{- data.amount | money(true, data.currencyIsoCode) -}}&nbsp;
    </span>
    <span class="{{ config.name }}__mode {{ defaultPriceJsName }}">
        {{ 'pdp.include.vat' | trans }}
    </span>
{% endblock %}
