{% extends molecule('money-price', '@SprykerShop:ShopUi') %}

{% define data = {
    priceVatText: 'pdp.include.vat',
} %}

{% block defaultPriceInner %}
    {% set defaultPriceJsName = data.parentJsName ? data.parentJsName ~ '__default-price' %}

    {% if data.isAffiliate is defined and data.isAffiliate %}
        <span>{{ 'pdp.price.from' | trans }}</span>
    {% endif %}

    <span class="{{ config.name }}__amount {{ defaultPriceJsName }}">
        {{- data.amount | money(true, data.currencyIsoCode) -}}&nbsp;
    </span>
    {% if data.priceVatText %}
        <span class="{{ config.name }}__mode {{ defaultPriceJsName }}">
            {{ 'pdp.include.vat' | trans }}
        </span>
    {% endif %}
{% endblock %}
