{# @var order \Generated\Shared\Transfer\OrderTransfer #}
{# @var invoice \Generated\Shared\Transfer\OrderInvoiceTransfer #}

<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <title></title>

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-size: 16px;
            box-sizing: border-box;
        }
        table {
            max-width: 700px;
            margin: 0 auto;
            border-collapse: collapse;
        }
        p {
            margin: 0;
        }
        .products-table {
            border: 1px solid #000;
        }
        .products-table td,
        .products-table th {
            padding: 5px 10px;
        }
        .background-gray {
            background: #e6e6e6;
        }
        .text-small {
            font-size: 13px;
        }
        .spacing-bottom {
            padding-bottom: 15px;
        }
        .spacing-top {
            padding-top: 15px;
        }
        .align-top {
            vertical-align: top;
        }
        .text-left {
            text-align: left;
        }
        .text-center {
            text-align: center;
        }
        .float-right {
            float: right;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td width="350"></td>
        <td width="350" class="align-top">
            <div class="spacing-bottom">
                <img src="https://l.mwscdn.io/large/marketplace/Content/email/logo-main.png" width="200" alt="Logo">
            </div>
            <strong>{{ 'order_invoice.invoice_template.company.name' | trans }}</strong>
            <div class="spacing-bottom text-small">{{ 'order_invoice.invoice_template.company.address' | trans | raw }}</div>
        </td>
    </tr>
    <tr>
        <td width=350" class="align-top">
            <div class="spacing-bottom">
                {{ order.billingAddress.firstName }} {{ order.billingAddress.lastName }}<br>
                {{ order.billingAddress.address1 }} {{ order.billingAddress.address2 }} {{ order.billingAddress.address3 }}<br>
                {{ order.billingAddress.zipcode }} {{ order.billingAddress.city }}<br>
                {% if order.billingAddress.state %}{{ order.billingAddress.state }}, {% endif %}{{ order.billingAddress.country.name }}
            </div>
        </td>
        <td width="350" class="align-top">
            <p>
                {{ 'order_invoice.invoice_template.table.grant_total' | trans }}
                <strong class="float-right">{{ order.totals.grandTotal | money }}</strong>
            </p>
            <p>
                {{ 'order_invoice.invoice_template.table.order_reference' | trans }}
                <strong class="float-right">{{ order.orderReference }}</strong>
            </p>
            <p>
                {{ 'order_invoice.invoice_template.table.order_date' | trans }}
                <strong class="float-right">{{ order.createdAt | date('d. M Y') }}</strong>
            </p>
            <p>
                {{ 'order_invoice.invoice_template.table.invoice_date' | trans }}
                <strong class="float-right">{{ invoice.issueDate | date('d. M Y') }}</strong>
            </p>
            {% if order.uid is not empty %}
                <p>
                    {{ 'order_invoice.invoice_template.table.uid' | trans }}
                    <strong class="float-right">{{ order.uid }}</strong>
                </p>
            {% endif %}
            {% if order.customer.myWorldCustomerNumber is not empty %}
                <p>
                    {{ 'order_invoice.invoice_template.table.cashback_customer_number' | trans }}
                    <strong class="float-right">{{ order.customer.myWorldCustomerNumber }}</strong>
                </p>
            {% endif %}
        </td>
    </tr>
</table>

<table>
    <tr>
        <td width="700">
            <div class="spacing-bottom">
                <strong>{{ 'order_invoice.invoice_template.reference' | trans }} {{ invoice.reference }}</strong>
            </div>
        </td>
    </tr>
</table>

<table class="products-table">
    <thead>
        <tr class="background-gray">
            <th width="100"><strong>{{ 'order_invoice.invoice_template.table.number' | trans }}</strong></th>
            <th width="100"><strong>{{ 'order_invoice.invoice_template.table.quantity' | trans }}</strong></th>
            <th width="300" class="text-left"><strong>{{ 'order_invoice.invoice_template.table.name' | trans }}</strong></th>
            <th></th>
            <th width="100"><strong>{{ 'order_invoice.invoice_template.table.price' | trans | raw }}</strong></th>
        </tr>
    </thead>
    <tbody>
        {% set linenumber = 0 %}
        {% set renderedBundles = [] %}
        {% set taxes = {} %}
        {% set itemSumByTaxes = {} %}

        {% for item in order.items %}
            {# @var item \Generated\Shared\Transfer\ItemTransfer #}

            {% set taxRate = item.taxRate %}
            {% set rateSum = taxes[item.taxRate] | default(0) + item.sumTaxAmountFullAggregation %}
            {% set taxes = taxes | merge({ (taxRate): rateSum }) %}
            {% set rateItemSum = itemSumByTaxes[taxRate] | default(0) + item.sumPriceToPayAggregation %}
            {% set itemSumByTaxes = itemSumByTaxes | merge({ (taxRate): rateItemSum }) %}

            {% if item.productBundle is not defined or item.productBundle is null %}
                {% set linenumber = linenumber + 1 %}

                <tr>
                    <td class="text-center">{{ linenumber }}</td>
                    <td class="text-center">{{ item.quantity }}</td>
                    <td>{{ item.name }} <br>{{ item.concreteAttributes['gtin'] }} ({{ item.taxRate | number_format }}% {{ 'order_invoice.invoice_template.table.tax.name' | trans }})</td>
                    <td></td>
                    <td class="text-center">{{ item.sumPriceToPayAggregation | money(true, order.currencyIsoCode) }}</td>
                </tr>
            {% endif %}

            {% if item.productBundle is defined and item.productBundle is not null %}
                {% if item.relatedBundleItemIdentifier not in renderedBundles %}
                    {# @var productBundle \Generated\Shared\Transfer\ItemTransfer #}

                    {% set linenumber = linenumber + 1 %}
                    {% set productBundle = item.productBundle %}

                    <tr>
                        <td class="text-center">{{ linenumber }}</td>
                        <td class="text-center">{{ productBundle.quantity }}</td>
                        <td>{{ productBundle.name }} <br>{{ productBundle.concreteAttributes['gtin'] }}
                            ({{ productBundle.taxRate | number_format }}
                            % {{ 'order_invoice.invoice_template.table.tax.name' | trans }})
                        </td>
                        <td></td>
                        <td class="text-center">{{ productBundle.sumPriceToPayAggregation | money(true, order.currencyIsoCode) }}</td>
                    </tr>
                    {% for bundleditem in order.items %}
                        {% if item.relatedBundleItemIdentifier == bundleditem.relatedBundleItemIdentifier %}
                            <tr>
                                <td></td>
                                <td class="text-center">{{ bundleditem.quantity }}</td>
                                <td>{{ bundleditem.name }} <br>{{ bundleditem.concreteAttributes['gtin'] }}
                                    ({{ bundleditem.taxRate | number_format }}
                                    % {{ 'order_invoice.invoice_template.table.tax.name' | trans }})
                                </td>
                                <td></td>
                                <td class="text-center">{{ bundleditem.sumPriceToPayAggregation | money(true, order.currencyIsoCode) }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                    {% set renderedBundles = renderedBundles | merge([item.relatedBundleItemIdentifier]) %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for expense in order.expenses %}
            {% set linenumber = linenumber + 1 %}
            {% set taxRate = expense.taxRate %}
            {% set rateSum = taxes[expense.taxRate] | default(0) + expense.sumTaxAmount %}
            {% set taxes = taxes | merge({ (taxRate): rateSum }) %}
            {% set rateItemSum = itemSumByTaxes[taxRate] | default(0) + expense.sumPriceToPayAggregation %}
            {% set itemSumByTaxes = itemSumByTaxes | merge({ (taxRate): rateItemSum }) %}

            <tr>
                <td class="text-center">{{ linenumber }}</td>
                <td></td>
                <td>{{ expense.name }} ({{ expense.taxRate | number_format }}% {{ 'order_invoice.invoice_template.table.tax.name' | trans }})</td>
                <td></td>
                <td class="text-center">{{ expense.sumPrice | money(true, order.currencyIsoCode) }}</td>
            </tr>
        {% endfor %}

        <tr class="background-gray">
            <td colspan="5"></td>
        </tr>

        {% for rate, tax in taxes %}
            <tr>
                <td colspan="2">{{ 'order_invoice.invoice_template.table.tax.included' | trans({ '%tax_rate%': rate | number_format }) }}</td>
                <td class="text-center">{{ (itemSumByTaxes[rate] - tax) | money(true, order.currencyIsoCode) }}</td>
                <td class="text-center">{{ 'order_invoice.invoice_template.table.tax.name' | trans }}</td>
                <td class="text-center">{{ tax | money(true, order.currencyIsoCode) }}</td>
            </tr>
        {% endfor %}

        <tr class="background-gray">
            <td colspan="3"></td>
            <td><strong>{{ 'order_invoice.invoice_template.table.grandtotal' | trans }}</strong></td>
            <td class="text-center">{{ order.totals.grandTotal | money(true, order.currencyIsoCode) }}</td>
        </tr>
    </tbody>
</table>

<table>
    <tr>
        <td width="700">
            <div class="spacing-bottom spacing-top">
                {{ 'order_invoice.invoice_template.table.bottom_text' | trans }}
            </div>
        </td>
    </tr>
</table>
</body>
</html>
