{% extends molecule('view-mode-switch', '@SprykerShop:CatalogPage') %}

{% define data = {
    viewMode: '',
} %}

{% block body %}
    {% set gridViewActiveClass = data.viewMode == 'grid' ? config.name ~ '__link--active' %}
    {% set listViewActiveClass = data.viewMode != 'grid' ? config.name ~ '__link--active' %}

    <a class="{{ config.name }}__link {{ gridViewActiveClass }}"
       href="{{ gridHref }}"
       title="{{ 'catalog.view.mode.grid' | trans }}">
        {% include atom('icon') with {
            modifiers: ['grid'],
            data: {
                name: 'grid',
            },
        } only %}
    </a>
    <a class="{{ config.name }}__link {{ listViewActiveClass }}"
       href="{{ listHref }}"
       title="{{ 'catalog.view.mode.list' | trans }}">
        {% include atom('icon') with {
            data: {
                name: 'list',
            },
        } only %}
    </a>
{% endblock %}
