{% extends molecule('product-item', '@SprykerShop:ShopUi') %}

{% define data = {
    cashback: 2,
    shoppingPoints: 1,
} %}

{% block extraClass %}
    {{ config.jsName }}
{% endblock %}

{% block body %}
    <div class="{{ config.name }}__container">
        <div class="{{ config.name }}__image-wrap">
            {% block imageContainer %}
                {{ parent() }}
            {% endblock %}

            {{ block('labels') }}
        </div>

        {% block content %}
            <div class="{{ config.name }}__info">
                {% block name %}
                    {{ parent() }}
                {% endblock %}

                {% block price %}
                    <div class="{{ config.name }}__price">
                        {{ parent() }}
                    </div>
                {% endblock %}
            </div>

            {% block footer %}
                {% set cashback = data.cashback %}

                {% if cashback %}
                    <div class="{{ config.name }}__footer">
                        {% include molecule('cashback') with {
                            modifiers: ['small'],
                            data: {
                                cashback: cashback,
                                shoppingPoints: data.shoppingPoints,
                                iconModifiers: [''],
                            },
                        } only %}
                    </div>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}

{% block image %}
    {% set extraClass = '' %}
    {% set modifiers = ['spaceless'] %}

    {% block productThumbnail %}
        <a class="{{ config.name }}__overlay {{ config.jsName }}__link-detail-page" href="{{ data.url }}">
            {{ parent() }}
        </a>
    {% endblock %}
{% endblock %}
