{% extends molecule('product-item', '@SprykerShop:ShopUi') %}
{% import molecule('product-item') as macros %}

{% define data = {
    cashback: data.product.cashbackAmount | default(null),
    benefitAmount: data.product.benefitAmount | default(null),
    benefitSalesPrice: data.product.benefitSalesPrice | default(null),
    shoppingPointsAmount: data.product.shoppingPointsAmount | default(null),
    shoppingPoints: data.product.shoppingPoints | default(null),
    isAffiliate: data.product.is_affiliate ?? data.product.isAffiliate,
    affiliateData: data.product.affiliate_data ?? data.product.affiliateData,
    priceVatText: 'pdp.include.vat',
} %}

{% block extraClass %}
    {{ config.jsName }}
{% endblock %}

{% block body %}
    {% set cashback = data.cashback %}
    {% set defaultPrice = data.product.prices.DEFAULT | default(null) %}
    {% set benefitPrice = data.product.prices.BENEFIT ?? null %}
    {% set benefitStore = benefitPrice > 0 and (data.product.attributes.benefit_store ?? false) %}
    {% set benefitAmount = defaultPrice - benefitPrice %}
    {% set shoppingPointsAmount = data.shoppingPointsAmount %}

    <div class="{{ config.name }}__container">
        <div class="{{ config.name }}__image-wrap">
            {% block imageContainer %}
                {{ parent() }}
            {% endblock %}

        </div>

        {% if data.idProductAbstract %}
            {% block productAbstractLabels %}
                {% widget 'ProductAbstractLabelWidget' args [data.idProductAbstract] with {
                    data: {
                        parentJsName: config.jsName,
                        product: data.product,
                        currencyIsoCode: data.currencyIsoCode,
                    },
                } only %}{% endwidget %}
            {% endblock %}
        {% endif %}

        {% block content %}
            <div class="{{ config.name }}__info">
                {% block name %}
                    {% if data.name and data.url %}
                        {% block link %}
                            {% widget 'ProductUrlWidget' args [
                                data.isAffiliate,
                                data.affiliateData,
                                data.product.attributes ?? [],
                                data.idProductAbstract
                            ] with {
                                data: {
                                    parentJsName: config.jsName,
                                    configName: config.name,
                                    dataName: data.name | replace({'\\': ''}) ,
                                    originUrl: data.url,
                                },
                            } only %}{% endwidget %}
                        {% endblock %}
                    {% endif %}

                    {% if data.name and not data.url %}
                        {% block title %}
                            <span class="{{ config.name }}__name {{ config.jsName }}__name">{{ data.name | replace({'\\': ''}) }}</span>
                        {% endblock %}
                    {% endif %}
                {% endblock %}

                {% block price %}
                {% set defaultPriceJsName = config.jsName ? config.jsName ~ '__default-price' %}
                {% set defaultPrice = data.product.prices.DEFAULT | default(null) %}
                {% set benefitVoucherDealEnabled = benefitAmount is not null and benefitPrice is not null %}
                {% set shoppingPointsDealEnabled = shoppingPointsAmount is not null and benefitPrice is not null %}
                {% set benefitClass = benefitVoucherDealEnabled ? '--benefit_voucher' : shoppingPointsDealEnabled ? '--shopping_points' : '' %}
                {% set hasBenefitPrice = (benefitVoucherDealEnabled or shoppingPointsDealEnabled) ?: false %}

                    {% if data.isAffiliate is defined and data.isAffiliate %}
                        <span>{{ 'pdp.price.from' | trans }}</span>
                    {% endif %}

                    <div class="row {{ config.name }}__price">
                        {{- defaultPrice | money(true, data.currencyIsoCode) -}}&nbsp;
                        {% if benefitVoucherDealEnabled %}
                            <span class="{{ config.name }}--benefit_voucher">
                                - &nbsp; {{- benefitAmount | money(true, data.currencyIsoCode) -}}
                            </span>

                            {% include atom('icon') with {
                                class: config.name ~ '__icon',
                                data: {
                                    name: 'benefit-point',
                                },
                            } only %}
                        {% elseif shoppingPointsDealEnabled %}
                            <span class="{{ config.name }}--shopping_points">
                                - &nbsp; {{ shoppingPointsAmount }}
                            </span>

                            {% include atom('icon') with {
                                class: config.name ~ '__icon',
                                data: {
                                    name: 'shopping-point',
                                },
                            } only %}
                        {% endif %}
                    </div>
                    {% if benefitStore or shoppingPointsAmount %}
                        <div class="row {{ config.name }}{{ benefitClass }} {{ config.name }}__original_price }}">
                            {{- benefitPrice | money(true, data.currencyIsoCode) -}}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>

            {% block footer %}
                {% if data.isAffiliate | default(false) %}
                    {% widget 'ProductAffiliateOffersWidget' args [data.idProductAbstract] only %}{% endwidget %}
                {% else %}
                    <div class=" {{ config.name }}__footer ">
                        <div class=" {{ config.name }}__footer_content ">
                            <div class=" {{ config.name }}__footer_content_text ">
                                myWorld
                            </div>
                            <div class="{{ config.name }}__footer_content_logo ">
                                <img class="{{ config.name }}__footer_content_logo_img"
                                     src="{{ publicPath('images/nav-logo-myworld-bw-colored.svg') }}" alt="myWorld"
                                     title="myWorld">
                            </div>
                        </div>
                    </div>

                {% endif %}

            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}

{% block image %}
    {% set extraClass = '' %}
    {% set modifiers = ['spaceless'] %}

    {% block productThumbnail %}
        {% widget 'ProductUrlWidget' args [
            data.isAffiliate,
            data.affiliateData,
            data.product.attributes ?? [],
            data.idProductAbstract
        ] with {
            data: {
                parentJsName: config.jsName,
                configName: config.name,
                dataName: data.name,
                originUrl: data.url,
                thumbnail: macros.thumbnail(data.image, data.name, extraClass, modifiers, config.jsName),
            },
        } only %}{% endwidget %}
    {% endblock %}
{% endblock %}
