{% extends model('component') %}

{% define config = {
    name: 'myworld-navbar',
    tag: 'nav',
} %}

{# TODO: This should come from API #}
{% define data = {
    isLogoColored: false,
    hasDropdown: true,
    inlineMenu: [
        {
            name: 'nav-logo-myworld-bw',
            nameColored: 'nav-logo-myworld-bw-colored',
            targetUrl: 'https://www.cashbackworld.com'
        },
        {
            name: 'nav-logo-marketplace-bw',
            nameColored: 'nav-logo-marketplace-bw-colored',
            targetUrl: 'https://marketplace.myworld.com'
        },
        {
            name: 'nav-logo-benefit-lounge-bw',
            nameColored: 'nav-logo-benefit-lounge-bw-colored',
            targetUrl: 'https://www.cashbackworld.com/benefitlounge'
        },
        {
            name: 'nav-logo-travelworld-bw',
            nameColored: 'nav-logo-travelworld-bw-colored',
            targetUrl: 'https://www.travelworld.com'
        },
        {
            name: 'nav-logo-lyconet-bw',
            nameColored: 'nav-logo-lyconet-bw-colored',
            targetUrl: 'https://lyconet.com'
        },
        {
            name: 'nav-logo-benefit-store-bw',
            nameColored: 'nav-logo-benefit-store-bw-colored',
            targetUrl: 'https://lyconet.com/benefitstore'
        }
    ],
    dropdownMenu: [
        {
            name: 'nav-logo-cbw-partner-colored',
            targetUrl: 'https://partner.cashbackworld.com'
        },
        {
            name: 'nav-logo-cff-colored',
            targetUrl: 'https://childandfamily.foundation'
        },
        {
            name: 'nav-logo-gff-colored',
            targetUrl: 'https://greenfinity.foundation'
        },
        {
            name: 'nav-logo-organic-colored',
            targetUrl: 'https://organic.plus'
        }
    ]
} %}

{% block body %}
    {% for navItem in data.inlineMenu %}
        <div class="{{ config.name }}__item">
            <a
                class="{{ config.name }}__link {{ navItem.name == 'nav-logo-marketplace-bw' ? config.name ~ '__link--active' }}"
                href="{{ navItem.targetUrl }}"
                target="_blank"
            >
                <img
                    src="{{ publicPath('images/' ~ (data.isLogoColored ? navItem.nameColored : navItem.name) ~ '.svg') }}"
                    alt="{{ data.isLogoColored ? navItem.nameColored : navItem.name }}"
                    class="{{ config.name }}__image"
                />
            </a>
        </div>
    {% endfor %}

    <div class="{{ config.name }}__dropdown">
        {% if data.hasDropdown %}
            <button class="{{ config.name }}__dropdown-opener {{ config.jsName }}__dropdown-opener"
                    data-toggle-target-class-name="{{ config.jsName }}__dropdown-content">
                {% include atom('icon') with {
                    modifiers: ['dots'],
                    data: {
                        name: 'dots',
                    },
                } only %}
            </button>
        {% endif %}

        <div class="{{ config.name }}__dropdown-content {{ data.hasDropdown ? config.jsName ~ '__dropdown-content is-hidden' }}">
            {% for navItem in data.dropdownMenu %}
                <div class="{{ config.name }}__dropdown-item">
                    <a
                        class="{{ config.name }}__dropdown-link"
                        href="{{ navItem.targetUrl }}"
                        target="_blank"
                    >
                        <img
                            src="{{ publicPath('images/' ~ navItem.name ~ '.svg') }}"
                            alt="{{ navItem.name }}"
                            class="{{ config.name }}__image"
                        />
                    </a>
                </div>
            {% endfor %}
        </div>

        {% if data.hasDropdown %}
            {% include molecule('toggler-accordion') with {
                attributes: {
                    'trigger-class-name':  config.jsName ~ '__dropdown-opener',
                    'active-class': config.name ~ '__dropdown-opener--active',
                    'is-closed-outside': true,
                },
            } only %}
        {% endif %}
    </div>
{% endblock %}
