{% extends molecule('product-item-list', '@SprykerShop:ShopUi') %}

{% define config = {
    tag: 'product-item-list',
} %}

{% block extraClass %}
    grid grid--stretch {{ parent() }}
{% endblock %}

{% block body %}
    {% block imageContainer %}
        <a class="{{ config.name }}__col {{ config.name }}__col-image {{ config.jsName }}__link-detail-page col col--sm-12 col--md-3" href="{{ data.url }}">
            {% block productThumbnail %}
                {% embed molecule('lazy-image') with {
                    modifiers: ['thumbnail', 'spaceless', 'product-list-item'],
                    data: {
                        imageSrc: data.image,
                        imageTitle: data.name,
                    },
                    embed: {
                        jsName: config.jsName,
                    },
                } only %}
                    {% block content %}
                        {% set imageExtraClasses = embed.jsName ~ '__image' %}

                        {{ parent() }}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        </a>
    {% endblock %}

    <a class="{{ config.name }}__col {{ config.name }}__col-name {{ config.jsName }}__link-detail-page col col--sm-8 col--md-7" href="{{ data.url }}">
        {% block name %}
            <span class="{{ config.jsName }}__name">{{ data.name }}</span>
        {% endblock %}
    </a>

    {% block priceContainer %}
        <a class="{{ config.name }}__col {{ config.name }}__col-price {{ config.jsName }}__link-detail-page col col--sm-4 col--md-2 text-right" href="{{ data.url }}">
            {% block price %}
                {% if can('SeePricePermissionPlugin') %}
                    {% embed molecule('money-price') with {
                        modifiers: ['original-inline'],
                        data: {
                            amount: data.product.prices.DEFAULT | default(null),
                            originalAmount: data.product.prices.ORIGINAL | default(null),
                            currencyIsoCode: data.currencyIsoCode,
                            parentJsName: config.jsName,
                        },
                    } only %}
                        {% block originalPrice %}
                            {% block originalPriceInner %}
                                {{ parent() }}
                            {% endblock %}
                        {% endblock %}
                    {% endembed %}
                {% else %}
                    {{- 'customer.access.cannot_see_price' | trans -}}
                {% endif %}
            {% endblock %}
        </a>
    {% endblock %}

    <div class="{{ config.name }}__labels-wrap">
        {{ block('labels') }}
    </div>
{% endblock %}
