{% extends model('component') %}

{% define config = {
    name: 'product-benefit-price',
} %}

{% define data = {
    price: required,
    amount: required,
    regularPrice: required,
    promotionPrice: required
} %}

{% block body %}
    <div class="row spacing-top spacing-bottom">
        <span class="{{ config.name }}__title-text">
            {{ 'pdp.price.benefit_voucher_price' | trans }}
        </span>
    </div>
    <div class="{{ config.name }}__benefit-price-amount">
        {% if data.price is not null %}
            {% include molecule('money-price') with {
                modifiers: ['strikethrough'],
                data: {
                    amount: data.price,
                    priceVatText: null
                }
            } only %}
        {% endif %}
        {% include molecule('money-price') with {
            modifiers: [],
            data: {
                amount: data.regularPrice,
                priceVatText: null,
            }
        } only %}
            <span class="{{ config.name }}__plus">-</span>
        <span class="{{ config.name }}__second">
            {% include molecule('money-price') with {
                modifiers: ['pdp'],
                data: {
                    amount: data.amount,
                    priceVatText: null
                }
            } only %}
        </span>
        {% include atom('icon') with {
            class: config.name ~ '__icon',
            modifiers: ['medium-up'],
            data: {
                name: 'benefit-point',
            },
        } only %}
        <br>
        <div class="{{ config.name }}__low-price">
        {% include molecule('money-price') with {
            modifiers: ['pdp'],
            data: {
                amount: data.promotionPrice,
                priceVatText: null
            }
        } only %}
        </div>
    </div>
{% endblock %}
