{% extends model('component') %}

{% define config = {
    name: 'product-benefit-price',
} %}

{% define data = {
    regularPriceAmount: required,
    benefitPriceAmount: required,
    benefitCurrencyAmount: required,
    benefitCurrencyType: 'benefit-voucher',
} %}

{% block body %}
    <br>

    <span class="{{ config.name }}__title-text {{ config.name }}__title-text--{{ data.benefitCurrencyType }}">
        <br>
                <h3>{{ 'Benefit Voucher Price' | trans }}</h3>
    </span>

    <div class="{{ config.name }}__benefit-price-amount--{{ data.benefitCurrencyType }}">
        {% include molecule('money-price') with {
            modifiers: ['pdp'],
            data: {
                promotionKind: 'benefit',
                promotion: 'true',
                regular: 'false',
                amount: data.benefitPriceAmount,
                discount: data.benefitCurrencyAmount,
                priceVatText: null
            }
        } only %}
    </div>

{% endblock %}
