{% extends model('component') %}

{% define config = {
    name: 'cart-summary'
} %}

{% define data = {
    cart: required,
    isQuoteValid: required,
    isQuoteEditable: required,
} %}

{% set canProceedToCheckout = data.cart.items is not empty
    and data.isQuoteValid
    and (not is_granted('IS_AUTHENTICATED_FULLY') or can('WriteSharedCartPermissionPlugin', data.cart.idQuote)) %}

{% block body %}
    <div class="{{ config.name }}__inner">
        <ul class="{{ config.name }}__list spacing-y spacing-y--bigger">

            <li class="{{ config.name }}__item {{ config.name }}__subtotal">
                {{ 'cart.price.subtotal' | trans }}
                <span class="float-right">{{ data.cart.totals.subtotalWithDeals | money }}</span>
            </li>

            {% if data.cart.shipment is not empty and data.cart.shipment.method is not empty %}
                <li class="{{ config.name }}__item spacing-y">
                    {{ 'cart.shipping' | trans }}
                    {{ data.cart.shipment.method.name }}
                    <span class="float-right">{{ data.cart.shipment.method.storeCurrencyPrice | money }}</span>
                </li>
            {% endif %}


            {% for expense in data.cart.expenses %}
                {% if expense.type == 'THRESHOLD_EXPENSE_TYPE' %}
                    <li class="{{ config.name }}__item spacing-y">
                        {{ 'sales-order-threshold.strategy.soft-minimum-threshold-fixed-fee' | trans }}
                        <span class="float-right">{{ expense.sumPrice | money }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            <li class="{{ config.name }}__item {{ config.name }}__total spacing-y--bigger">
                <strong>{{ 'cart.total' | trans }}</strong>
                <strong class="float-right">{{ data.cart.totals.grandTotalWithDeals | money }}</strong>
                <span class="{{ config.name }}__item {{ config.name }}__tax-vat">({{ 'cart.include.vat' | trans }})</span>
            </li>

        </ul>
    </div>

    {% if canProceedToCheckout %}
        <a class="button button--expand button--large"
           href="{{ url('checkout-index') }}" {{ qa('cart-go-to-checkout') }}>
            {{ 'cart.checkout' | trans }}
        </a>
    {% endif %}
{% endblock %}
