{% extends model('component') %}

{% define config = {
    name: 'gdpr-tag',
    tag: 'gdpr-tag',
} %}

{% block body %}
    {# TODO: Add dynamic text here from translations #}
    <div
        id="cookie-notification"
        class="{{ config.name }}__content"
        role="alert"
        data-display="flex"
        style="display:none"
        >
        <p class="{{ config.name }}__message">
            We use cookies on our website to make our services more efficient
            and more user-friendly. Therefore please select "Accept cookies"!
            Please read our <a class="{{ config.name }}__link" href="{{ 'footer.logo.link.privacy' | trans }}">Privacy Policy</a>
            for further information.
        </p>

        <button
            type="button"
            id="cookie-notification__accept"
            class="{{ config.name }}__button button button--small button--expand"
        >
            Accept cookies
        </button>
    </div>
{% endblock %}
