{% extends model('component') %}

{% define config = {
    name: 'product-affiliate',
    tag: 'section',
} %}

{% define data = {
    product: required,
} %}

{% set productName = data.product.name | default %}

{% block body %}
    <h1 class="title title--product title--h2">{{ productName }}</h1>

    {# <div class="spacing-bottom spacing-bottom--smaller">
        {% include molecule('money-price') with {
            modifiers: ['pdp'],
            data: {
                amount: data.product.price,
                originalAmount: data.product.prices.ORIGINAL is not defined ? null : data.product.prices.ORIGINAL
            }
        } only %}
    </div>
    #}
    <hr class="{{ config.name }}__separator">
    {#
    <div class="{{ config.name }}__button-wrap">
        <a class="button button--large button--expand" target="_blank" href="{{ data.product.affiliateData.trackingUrl }}">
            {{ 'page.detail.affiliate-product-action' | trans }}
        </a>
    </div>
    #}
    {% block colors %}{% endblock %}
{% endblock %}
