{% extends molecule('order-payment', '@SprykerShop:CustomerPage') %}

{% define data = {
    mainPayment: null,
} %}


{% block body %}
    {% set payment = data.mainPayment ?? data.payments[0] %}
    {% set methodTranslationKey = 'payment.payment_method.' ~ (payment.paymentMethod | pascalToSnakeCase) %}
    {% set providerTranslationKey = 'payment.payment_provider.' ~ (payment.paymentProvider | pascalToSnakeCase) %}
    <li class="{{ config.name }}__item">{{ providerTranslationKey | trans }}</li>
    <li class="{{ config.name }}__item">{{ 'customer.order.payment_method' | trans }}: {{ methodTranslationKey | trans }}</li>
    <li class="{{ config.name }}__item">{{ payment.amount | money(true, data.currencyIsoCode) }}</li>

    {% if data.payments[0].paymentMethod == 'dummyPrepayment' %}
        <li class="title title--secondary-small"></li>
        <li class="{{ config.name }}__item title--secondary-small">{{ 'dummyPrepayment.prepaymentbank-info' | trans | raw }}</li>
    {% endif %}
{% endblock %}
