{% extends template('page-layout-checkout', '@SprykerShop:CheckoutPage') %}

{% block header %}
    {% embed organism('header') with {
        modifiers: ['checkout'],
        data: {
            showSearchForm: false,
            showNavigation: false,
        },
    } only %}
        {% block body %}
            <div class="{{ config.name }}__row {{ config.name }}__navigation-main grid grid--justify grid--middle">
                <div class="col">
                    {% include molecule('logo') with {
                        modifiers: modifiers,
                    } only %}
                </div>

                <div class="col">
                    <a class="{{ config.name }}__back-link" href="{{ url('cart') }}">
                        {% include atom('icon') with {
                            modifiers: ['medium-up', 'to-cart'],
                            data: {
                                name: 'arrow-left',
                            },
                        } only %}
                        {{ 'cart.cart' | trans }}
                    </a>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block container %}
    <div class="container">
        <div class="container__inner">
            {% block pageInfo %}
                {% block breadcrumbs %}
                    {{ parent() }}
                {% endblock %}
            {% endblock %}

            <main class="page-layout-checkout {% block contentClass %}{% endblock %}">
                {% block title %}{% endblock %}

                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% embed organism('footer') only %}
        {% block footerTop %}{% endblock %}
    {% endembed %}
{% endblock %}
