{% extends view('payment', '@SprykerShop:CheckoutPage') %}

{% block content %}
    {% embed molecule('form') with {
        modifiers: ['checkout-actions', 'checkout-form-elements'],
        data: {
            form: data.forms.payment,
            submit: {
                enable: true,
                text: 'checkout.step.summary' | trans,
                class: 'form__action--checkout button  button--large button--expand  js-payment-form__submit',
            },
            cancel: {
                enable: true,
                url: data.backUrl,
                text: 'general.back.button' | trans,
                class: 'form__action--checkout button button--hollow button--expand',
            },
            customForms: {
                'Adyen/credit-card': ['credit-card', 'adyen'],
                'DummyPrepayment/prepayment': ['prepayment', 'dummyPrepayment'],
            },
        },
    } only %}
        {% block fieldset %}
            <h2 class="title title--primary">{{ 'checkout.payment.provider.payment_methods' | trans }}</h2>
            {% include molecule('myworld-payment', 'CheckoutPage') with {
                data: {
                    form: data.form,
                    customerEVoucherBalance: data.form.vars.customer_balances.MyWorldEVoucher ?? 0,
                    customerEVoucherOnBehalfOfMarketerBalance: data.form.vars.customer_balances.MyWorldEVoucherOnBehalfOfMarketer ?? 0,
                    customerCashbackBalance: data.form.vars.customer_balances.MyWorldCashbackAccount ?? 0,
                    currencyIsoCode: data.form.vars.currency_code,
                },
            } only %}

            <div class="form_container">
                <h2 class="title title--primary"></h2>

                {% for name, choices in data.form.paymentSelection.vars.choices %}
                    {% set paymentProviderIndex = loop.index0 %}

                    {% embed molecule('list-switches') with {
                        modifiers: ['register-type', 'layout-width'],
                        data: {
                            form: data.form.paymentSelection,
                            choices: choices,
                            rowAttrClass: 'toggler-radio--with-bg',
                            targetClassName: 'js-payment-method-',
                            providerIndex: paymentProviderIndex,
                            customForms: data.customForms,
                        },
                        embed: {
                            paymentProviderName: name,
                        },
                    } only %}
                        {% block item %}
                            {{ parent() }}

                            {% if embed.paymentProviderName != 'DummyPrepayment' %}
                                <div class="{{ config.name }}__img-wrap">
                                    <img class="{{ config.name }}__img" src="{{ publicPath('images/logo-visa.png') }}" alt="Visa">
                                    <img class="{{ config.name }}__img" src="{{ publicPath('images/logo-mastercard.png') }}" alt="Mastercard">
                                </div>
                            {% endif %}
                        {% endblock %}
                    {% endembed %}

                    {% for key, choice in choices %}
                        {% embed molecule('form') with {
                            class: 'spacing-bottom spacing-bottom--bigger',
                            modifiers: ['grid-indent', 'checkout-form-elements'],
                            data: {
                                form: data.form[data.form.paymentSelection[key].vars.value],
                                enableStart: false,
                                enableEnd: false,
                                customForms: data.customForms,
                                layout: {
                                    'card_number': 'col col--sm-12 col--lg-6',
                                    'name_on_card': 'col col--sm-12 col--lg-6',
                                    'card_expires_month': 'col col--sm-12 col--md-6 col--lg-3 col--bottom',
                                    'card_expires_year': 'col col--sm-12 col--md-6 col--lg-3 col--bottom',
                                    'card_security_code': 'col col--sm-12 col--lg-6 col--bottom',
                                },
                            },
                            embed: {
                                index: loop.index ~ '-' ~ paymentProviderIndex,
                                toggler: data.form.paymentSelection[key],
                            },
                        } only %}
                            {% block fieldset %}
                                <h2 class="js-payment-method-{{ embed.index }} {% if embed.index != '1-0' %} is-hidden{% endif %} title title--medium spacing-bottom--big">{{ embed.toggler.vars.label | trans }}</h2>
                                <div class="col col--sm-12 is-hidden js-payment-method-{{embed.index}}">
                                    {% if data.form.vars.template_path == 'Adyen/credit-card' %}
                                        <p class="spacing-top spacing-top--big spacing-x">
                                            {{ 'page.checkout.payment.3d_secure_text' | trans }}
                                        </p>
                                    {% endif %}
                                    <div class="col col--sm-12">
                                        {% if data.customForms[data.form.vars.template_path] is not defined %}
                                            {{ parent() }}
                                        {% else %}
                                            {% set viewName = data.customForms[data.form.vars.template_path] | first %}
                                            {% set moduleName = data.customForms[data.form.vars.template_path] | last %}
                                            {% include view(viewName, moduleName) ignore missing with {
                                                form: data.form.parent
                                            } only %}
                                        {% endif %}
                                    </div>
                                    {% if data.form.vars.template_path == 'Adyen/credit-card' %}
                                        <p class="spacing-top spacing-top--big spacing-x">
                                            {{ 'page.checkout.payment.cc_text' | trans }}
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="js-payment-method-{{ embed.index }} {% if embed.index != '1-0' %} is-hidden{% endif %}">
                                    {{ parent() }}
                                </div>
                            {% endblock %}
                        {% endembed %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
