{% extends molecule('sort', '@SprykerShop:CatalogPage') %}

{% define data = {
    viewMode: required,
    pagination: {},
    sort: {},
    title: '',
} %}

{% block body %}
    <div class="grid grid--justify grid--middle">
        <div class="col">
            <h3>{{ data.title }}</h3>
            <span class="{{ config.name }}__results">
                {{- data.pagination.numFound }} {{ 'catalog.itemsFound' | trans -}}
            </span>
        </div>

        <div class="col col--lg-8 col--xl-6 grid grid--middle grid--right is-hidden-sm-md">
            {% block selects %}
                <p class="spacing-right">{{ 'catalog.sort.by' | trans }}</p>
                <div class="{{ config.jsName }}__filter" data-block-to="js-filter-section__sorting" data-breakpoint="769">
                    {% embed molecule('custom-select') with {
                        attributes: {
                            name: 'sort',
                            'config-theme': 'secondary',
                            'config-width': '100%',
                        },
                        embed: {
                            sort: data.sort,
                            parentJsName: data.parentJsName,
                        },
                    } only %}
                        {% block selectClass %}{{ parent() }} {{ embed.parentJsName ? embed.parentJsName ~ '__sort-trigger' }}{% endblock %}

                        {% block options %}
                            <option value="">{{ 'catalog.sort.relevance' | trans }}</option>

                            {% for sortParamName in embed.sort.sortParamNames %}
                                {% set selectedAttribute = (sortParamName == embed.sort.currentSortParam) ? 'selected' %}

                                <option value="{{ sortParamName }}" {{ selectedAttribute }}>
                                    {{ ('catalog.sort.' ~ sortParamName) | trans }}
                                </option>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            {% endblock %}

            {% include molecule('view-mode-switch', 'CatalogPage') with {
                class: 'spacing-left spacing-left--big',
                data: {
                    viewMode: data.viewMode,
                },
            } only %}
        </div>
    </div>

    {% include molecule('breakpoint-dependent-block-placer') with {
        attributes: {
            'block-class-name': config.jsName ~ '__filter',
        },
    } only %}
{% endblock %}
