{% extends '@Spryker:Customer/Address/edit.twig' %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_content %}
            {{ form_start(form) }}
                <div class="field-group">
                    <div class="field-group--title">
                        <h2>{{ 'Personal data' | trans }}</h2>
                    </div>
                    <div class="field-group--content">
                        {{ form_row(form.salutation) }}
                        {{ form_row(form.first_name) }}
                        {{ form_row(form.last_name) }}
                        {{ form_row(form.address1) }}
                        {{ form_row(form.address2) }}
                        {{ form_row(form.address3) }}
                        {{ form_row(form.zip_code) }}
                        {{ form_row(form.city) }}
                        {{ form_row(form.fk_country) }}
                        {{ form_row(form.state) }}
                        {{ form_row(form.phone) }}
                    </div>
                </div>
                <hr/>
                <div class="field-group">
                    <div class="field-group--title">
                        <h2>{{ 'Company data' | trans }}</h2>
                    </div>
                    <div class="field-group--content">
                        {{ form_row(form.company) }}
                        {{ form_row(form.address4) }}
                        {{ form_row(form.vat_number) }}
                        {{ form_row(form.comment) }}
                    </div>
                </div>

                <input type="submit" class="btn btn-primary" value="{{ 'Save' | trans }}" />
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
