{% extends model('component') %}

{% define config = {
    name: 'customer-balance',
} %}

{% define data = {
    shoppingPointBalance: null,
    benefitVouchersCurrencyCode: null,
    benefitVouchersBalance: null,
} %}

{% block body %}
    <div class="{{ config.name }}__intro">
        {{ 'customer.balance.into' | trans }}
    </div>
    {% if data.shoppingPointBalance %}
        <div class="{{ config.name }}__point-balance">
            {{ data.shoppingPointBalance }}
            {% include atom('icon') with {
                data: {
                    name: 'shopping-point',
                },
            } only %}
        </div>
    {% endif %}
    {% if data.benefitVouchersBalance %}
        <div class="{{ config.name }}__benefit-voucher-balance">
            <input id="benefitVoucherAmount" type="hidden" value="{{ data.benefitVouchersBalance }}">
            {{ data.benefitVouchersBalance | money(true, data.benefitVouchersCurrencyCode) }}
            {% include atom('icon') with {
                data: {
                    name: 'benefit-point',
                },
            } only %}
        </div>
    {% endif %}
{% endblock %}
