{% extends model('component') %}

{% define config = {
    name: 'myworld-payment',
    tag: 'myworld-payment',
} %}

{% define data = {
    form: required,
    customerEVoucherBalance: required,
    customerEVoucherOnBehalfOfMarketerBalance: required,
    customerCashbackBalance: required,
    currencyIsoCode: required,
} %}

{% block body %}
    <div class="{{ config.name }}__container">
        <div class="{{ config.name }}__title">{{ 'checkout.payment.myworld.payment_methods.title' | trans }}</div>
        <div class="{{ config.name }}__subtitle">{{ 'checkout.payment.myworld.payment_methods.subtitle' | trans }}</div>
        <div class="{{ config.name }}__methods-container">
            {% if data.form.useEVoucherBalance is defined %}
                {% include molecule('myworld-payment-method', 'CheckoutPage') with {
                    data: {
                        checkbox: data.form.useEVoucherBalance,
                        name: 'checkout.payment.myworld.payment_methods.method.evoucher' | trans,
                        amount: data.customerEVoucherBalance,
                        currencyIsoCode: data.currencyIsoCode,
                    },
                } only %}
            {% endif %}

            {% if data.form.useEVoucherOnBehalfOfMarketer is defined %}
                {% include molecule('myworld-payment-method', 'CheckoutPage') with {
                    data: {
                        checkbox: data.form.useEVoucherOnBehalfOfMarketer,
                        name: 'checkout.payment.myworld.payment_methods.method.evoucher_marketer' | trans,
                        amount: data.customerEVoucherOnBehalfOfMarketerBalance,
                        currencyIsoCode: data.currencyIsoCode,
                    },
                } only %}
            {% endif %}

            {% if data.form.useCashbackBalance is defined %}
                {% include molecule('myworld-payment-method', 'CheckoutPage') with {
                    data: {
                        checkbox: data.form.useCashbackBalance,
                        name: 'checkout.payment.myworld.payment_methods.method.cashback' | trans,
                        amount: data.customerCashbackBalance,
                        currencyIsoCode: data.currencyIsoCode,
                    },
                } only %}
            {% endif %}
        </div>
    </div>
{% endblock %}
