{% extends model('component') %}

{% define config = {
    name: 'payment-use-evoucher',
} %}

{% define data = {
    checkboxUseEVouchers: required,
    availableAmountBonuses: required,
    availableEVoucherForCharge: required,
    currencyIsoCode: required,
} %}

{% block body %}
    {% set labelUseEvoucher = 'checkout.payment.checkbox.use_evoucher_balance' | trans({
        '%price%': data.availableEVoucherForCharge | money(true, data.currencyIsoCode),
        '%balance%': data.availableAmountBonuses | money(true, data.currencyIsoCode),
    }) %}

    <div class="{{ config.name }}__cashback-balance">
        <div class="{{ config.name }}__cashback-balance-icon">
            {% include atom('icon') with {
                class: config.name ~ '__icon',
                modifiers: ['cashback-balance'],
                data: {
                    name: 'cashback-balance',
                },
            } only %}
        </div>
        <div>
            {{ 'checkout.payment.cashback_balance' | trans }}
            <span class="{{ config.name }}__cashback">{{ data.availableAmountBonuses | money(true, data.currencyIsoCode) }}</span>
        </div>
    </div>

    <div class="{{ config.name }}__balance-info">
        {{ 'checkout.payment.cashback_info' | trans | raw }}
    </div>
    {{ form_row(data.checkboxUseEVouchers, { 'label': labelUseEvoucher }) }}
{% endblock %}
