{% extends model('component') %}

{% define config = {
    name: 'benefit-product-item',
} %}

{% define data = {
    product: required,
    formType: required,
    item: {},
    benefitVouchersCurrencyCode: '',
} %}

{% set product = data.product %}
{% set abstractProductId = product.idProductAbstract %}
{% set productBrand = product.concreteAttributes['brand'] %}
{% set images = product.images %} {#It can be empty array#}
{% set currencyCode = product.priceProduct.moneyValue.currency.code %}
{% set unitPrice = product.originUnitGrossPrice %}
{% set subTotalPrice = product.quantity * unitPrice %}

{% block body %}
    {% include molecule('product-image') with {
        class: config.name ~ '__image',
        data: {
            image: images | length > 0 ? images[0].externalUrlLarge : '',
        },
    } only %}

    <div class="{{ config.name }}__meta-wrapper">
        <div class="{{ config.name }}__meta">
            <h2 class="{{ config.name }}__title">{{ product.name }}</h2>
            <strong>{{ 'benefit_deal.product.attribute.manufacturer_name' | trans }}</strong> <span>{{ 'page.product.by' | trans }} {{ productBrand }}</span> -<span>{{ 'page.product.seller' | trans }} <a href="https://corporate.myworld.com/">myWorld.com</a></span>
            <div>
                <strong>{{ 'benefit_deal.item_quantity' | trans }}</strong> {{ product.quantity }}
            </div>
        </div>

        <div class="{{ config.name }}__benefites">
            <div class="{{ config.name }}__prices">
                <div class="{{ config.name }}__total-price">{{ subTotalPrice | money(true, currencyCode) }}</div>
                <div class="{{ config.name }}__single-unit-price">{{ unitPrice | money(true, currencyCode) }}</div>
                {% include molecule('cashback') with {
                    modifiers: ['align-right', 'small'],
                    data: {
                        cashback: data.product.concreteAttributes['cashback_amount'],
                        shoppingPoints: data.product.concreteAttributes['shopping_points'],
                    },
                } only %}
                {% if data.formType == 'useBenefitVoucher' or data.formType == 'useShoppingPoints' %}
                <div class="{{ config.name }}__or">{{ 'checkout.step.benefit_deal.or' | trans }}</div>
                {% endif %}
            </div>
            {# @TODO Refactor properly when design for this step is approved #}
            {% if data.formType == 'useBenefitVoucher' %}
                {% set benefitVoucherDeal = product.benefitVoucherDealData %}
                {% set benefitVoucherSalesPrice = benefitVoucherDeal.salesPrice * product.quantity %}
                {% set benefitVoucherAmount = benefitVoucherDeal.amount * product.quantity %}
                <div class="{{ config.name }}__benefit-price">
                    <span>
                        {{- benefitVoucherSalesPrice | money(true, currencyCode) -}}&nbsp;+&nbsp;{{- benefitVoucherAmount | money(false, data.benefitVouchersCurrencyCode) -}}
                    </span>
                    {% include atom('icon') with {
                        class: config.name ~ '__icon',
                        modifiers: ['medium-up'],
                        data: {
                            name: 'benefit-point',
                        },
                    } only %}
                </div>

                <label class="{{ config.name }}__use-benefit">
                    {{ form_widget(data.item, {
                        required: false
                    }) }}
                </label>
            {% elseif data.formType == 'useShoppingPoints' %}
                {% set shoppingPointsDeal = product.shoppingPointsDeal %}
                {% set shoppingPointsPrice = shoppingPointsDeal.price * product.quantity %}
                {% set ShoppingPointsAmount = shoppingPointsDeal.shoppingPointsQuantity * product.quantity %}
                <div class="{{ config.name }}__benefit-price">
                    <span>
                        {{ shoppingPointsPrice | money(true, currencyCode) }}
                        - {{ ShoppingPointsAmount }}
                    </span>
                    {% include atom('icon') with {
                        class: config.name ~ '__icon',
                        modifiers: ['medium-up'],
                        data: {
                            name: 'shopping-point',
                        },
                    } only %}
                </div>
                <label class="{{ config.name }}__use-benefit">
                    {{ form_widget(data.item, {
                        required: false,
                        component: molecule('toggler-radio')
                    }) }}
                    <span>{{ 'checkout.step.benefit_deal.use_shopping_points' | trans }}</span>
                </label>
            {% else %}
                {{ form_widget(data.item) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
