{% extends model('component') %}

{% define config = {
    name: 'benefit-product-item',
    tag: 'benefit-product-item',
} %}

{% define data = {
    product: required,
    formType: required,
    item: {},
    benefitVouchersCurrencyCode: '',
} %}

{% set product = data.product %}
{% set abstractProductId = product.idProductAbstract %}
{% set productBrand = product.concreteAttributes['brand'] %}
{% set images = product.images %} {#It can be empty array#}
{% set currencyCode = product.priceProduct.moneyValue.currency.code %}
{% set unitPrice = product.originUnitGrossPrice %}
{% set subTotalPrice = product.quantity * unitPrice %}

{% block body %}
    {% include molecule('product-image') with {
        class: config.name ~ '__image',
        data: {
            image: images | length > 0 ? images[0].externalUrlLarge : '',
        },
    } only %}

    <div class="{{ config.name }}__meta-wrapper">
        <div class="{{ config.name }}__meta">
            <h2 class="{{ config.name }}__title">{{ product.name }}</h2>
            <strong><span
                    class="{{ config.name }}__quantity">{{ 'benefit_deal.item_quantity' | trans }}</span></strong> {{ product.quantity }}
        </div>

        <div class="{{ config.name }}__benefites">
            <button type="button" data-url="/cart/remove-without-validate-token/{{ product.sku }}/{{ product.groupKey}}"
                    class="link link--remove order-overview-removal-product-link"><span class="grid grid--middle grid--center">
                    <svg class="icon spacing-right spacing-right--small" data-qa="component icon" title="remove"><use
                            xlink:href="#:remove"></use></svg></span>
            </button>

            {% if data.formType == 'useBenefitVoucher' %}
                {% set benefitVoucherDeal = product.benefitVoucherDealData %}
                {% set benefitVoucherSalesPrice = benefitVoucherDeal.salesPrice * product.quantity %}
                {% set benefitVoucherAmount = benefitVoucherDeal.amount * product.quantity %}
                <div class="{{ config.name }}__benefit-price">
                    <span>{{- subTotalPrice | money(true, currencyCode) -}}&nbsp;</span>
                    <span class="benefit-voucher">-&nbsp;</span>
                    <span class="benefit-voucher">{{- benefitVoucherAmount | money(false, data.benefitVouchersCurrencyCode) -}}</span>
                    {% include atom('icon') with {
                        class: config.name ~ '__icon',
                        modifiers: ['medium-up'],
                        data: {
                            name: 'benefit-point',
                        },
                    } only %}
                </div>

                <label class="{{ config.name }}__use-benefit">
                    {{ form_widget(data.item, {
                        required: false
                    }) }}
                </label>
                <div class="{{ config.name }}__prices">
                    <div class="{{ config.name }}__total-price">{{ benefitVoucherSalesPrice | money(true, currencyCode) }}</div>
                </div>
            {% elseif data.formType == 'useShoppingPoints' %}

                {% set shoppingPointsDeal = product.shoppingPointsDeal %}
                {% set shoppingPointsPrice = shoppingPointsDeal.price * product.quantity %}
                {% set ShoppingPointsAmount = shoppingPointsDeal.shoppingPointsQuantity * product.quantity %}

                <div class="{{ config.name }}__benefit-price">
                    <span>
                        {{ subTotalPrice | money(true, currencyCode) }}</span>
                    <span class="shopping-points">&nbsp;-&nbsp;</span>

                    <span class="shopping-points">{{ ShoppingPointsAmount | formatShoppingPoints }}</span>
                    {% include atom('icon') with {
                        class: config.name ~ '__icon',
                        modifiers: ['medium-up'],
                        data: {
                            name: 'shopping-point',
                        },
                    } only %}
                </div>

                <span class="{{ config.name }}__total-price" style="float:right;">{{ shoppingPointsPrice | money(true, currencyCode) }}</span>
                <label class="{{ config.name }}__use-benefit">
                    {{ form_widget(data.item, {
                        required: false,
                        component: molecule('toggler-radio')
                    }) }}
                    <span>{{ 'checkout.step.benefit_deal.use_shopping_points' | trans }}</span>
                </label>
            {% else %}
                {{ form_widget(data.item) }}
                <br>
                <span class="{{ config.name }}__total-price" style="float:right;">{{ subTotalPrice | money(true, currencyCode) }}</span>
            {% endif %}
        </div>
    </div>
{% endblock %}
