{% extends model('component') %}

{% define config = {
    name: 'footer',
    tag: 'footer'
} %}

{% define data = {
    pathInfo: app.request.pathInfo,
    queryString: app.request.queryString,
    requestUri: app.request.requestUri,
} %}

{% block body %}
    {% set socialMediaItems = [
        {
            iconName: 'facebook',
            href: 'footer.facebook.url' | trans
        },
        {
            iconName: 'youtube',
            href: 'footer.youtube.url' | trans
        },
        {
            iconName: 'instagram',
            href: 'footer.instagram.url' | trans
        },
        {
            iconName: 'pinterest',
            href: 'footer.pinterest.url' | trans
        }
    ] %}

    {% set paymentItems = [
        {
            iconName: 'logo-mastercard',
        },
        {
            iconName: 'logo-visa',
        }
    ] %}

    <div class="container">
        {% block footerTop %}
            <div class="{{ config.name }}__top">
                <div>
                    {% widget 'LanguageSwitcherWidget' args [
                        data.pathInfo,
                        data.queryString,
                        data.requestUri
                    ] with {
                        data: {
                            additionalModifiers: ['hollow', 'footer'],
                            additionalClassName: 'spacing-left',
                        },
                    } only %}
                    {% endwidget %}
                </div>

                {% block footerNavigation %}
                    {% include molecule('navigation-footer') with {
                        class: config.name ~ '__navigation',
                        data: {
                            items: [
                                {
                                    title: 'global.categories',
                                    isShow: data.showNavigation,
                                    templates: [
                                        {
                                            template: 'navigation-footer',
                                            menu: 'FOOTER_NAVIGATION_CATEGORIES'
                                        }
                                    ]
                                },
                                {
                                    title: 'global.company',
                                    templates: [
                                        {
                                            template: 'navigation-footer',
                                            menu: 'FOOTER_NAVIGATION'
                                        }
                                    ]
                                },
                                {
                                    title: 'global.social',
                                    templates: [
                                        {
                                            template: 'navigation-footer',
                                            menu: 'SOCIAL_LINKS'
                                        }
                                    ]
                                },
                                {
                                    class: 'is-hidden-md-xl',
                                    modifiers: ['flex'],
                                    title: 'footer.providers__title',
                                    templates: [
                                        {
                                            template: 'navigation-providers-shipment',
                                            menu: 'SHIPMENT_PROVIDERS',
                                            wrapClass: 'spacing-right spacing-right--big',
                                        },
                                        {
                                            template: 'navigation-providers-payment',
                                            menu: 'PAYMENT_PROVIDERS'
                                        }
                                    ]
                                }
                            ]
                        }
                    } only %}
                {% endblock %}
            </div>
        {% endblock %}

        <div class="{{ config.name }}__bottom">
            <div class="{{ config.name }}__bottom-col">
                <h6 class="title spacing-right is-hidden-sm-lg">{{ 'footer.follow' | trans }}</h6>
                {% for item in socialMediaItems %}
                    <a class="{{ config.name }}__social-link" href="{{ item.href }}" target="_blank">
                        {% include atom('icon') with {
                            modifiers: ['big'],
                            data: {
                                name: item.iconName,
                            }
                        } only %}
                    </a>
                {% endfor %}
            </div>

            <div class="{{ config.name }}__bottom-col">
                {% for item in paymentItems %}
                    <img class="spacing-x spacing-x--small" src="{{ publicPath('images/' ~ item.iconName ~ '.svg') }}" alt="{{ item.iconName }}">
                {% endfor %}
            </div>

            <div class="{{ config.name }}__bottom-col">
                <img class="spacing-x col" src="{{ publicPath('images/logo-motogp.svg') }}" alt="logo-motogp">
                <h6 class="title spacing-left">{{ 'footer.official_partner' | trans }}</h6>
            </div>
        </div>

    </div>
{% endblock %}
